body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

#container {

}

#container > canvas {
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    left: 50%;
    transform: translateX(-50%);
}

a {
    color: white;
    text-decoration: none;
}